name: Publish NPM package

on:
  push:
    branches:
      - main
    tags:
      - '*'
    paths:
      - 'src/**'

permissions:
  id-token: write
  contents: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Ensure npm 11.5.1 or later is installed
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Configure Git
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'github-actions@github.com'

      - name: Publish package
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            npm publish
          else
            npm version prerelease --preid=dev
            git push
            npm publish --tag dev
          fi
